.create_review_modal_button {
        height: 47px;
            width: 200px;
            border-radius: 25px;
            border: 1px solid lightgrey;
            background: rgb(60, 103, 148);
            color: white;
            cursor: pointer;
}

.create_review_modal_button:hover {
    opacity: 0.8;
}

.create_review_main {
    display: flex;
    justify-content: center;
}

.create_review_notlogged_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.create_review_notlogged {
    height: 120px;
    width: 240px;
    padding: 30px;
}

.create_review_notlogged_navlink {
    text-decoration: none;
    color: white;
    border: 1px solid lightgray;
    background: rgb(60, 103, 148);
    width: 130px;
    height: 47px;
    text-align: center;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_review_notlogged_navlink:hover {
    opacity: 0.7;
}

.create_review_owned_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


.create_review_cancel {
    display: flex;
    height: 70px;
}

.create_review_cancel_button {
    border: none;
    background: white;
    width: 50px;
        height: 50px;
    font-size: 25pt;
    padding: 0px;
}

.create_review_cancel_button:hover {
    background: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 45px;
    cursor: pointer;
}

.create_review_notlogged_cancel_button {
    border: none;
    background: white;
    width: 50px;
    height: 50px;
    font-size: 25pt;
    padding: 0px;
        margin-right: 200px;
}

.create_review_notlogged_cancel_button:hover {
    background: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 45px;
    cursor: pointer;
}


.create_review_form {
    padding: 30px;
    width: 524px;
    height: 630px;
    display: flex;
        flex-direction: column;

}

.create_review_trail_name_header {
    height: 60px;
    font-family: "Roboto-Bold";
    font-size: 20pt;
    word-break: break-all;
        white-space: pre-wrap;
        padding: 0 14px;
}

.create_review_inner {
    padding: 0 14px;
}

.create_review_inner_div {
    height: 100px;
}

.create_review_input_inner {
    width: 430px;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}

.create_review_input_textarea {
    width: 430px;
    resize: none;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    height: 113px;
}

.create_review_inner_div_textarea {
    height: 170px;
}



.create_review_input_image {
    width: 430px;
    border: 0.5px solid lightgray;
        border-radius: 5px;
        height: 30px;
}






.create_review_submit {
    display: flex;
    align-items: flex-end;
    height: 70px;
}

.create_review_submit_button {
    height: 47px;
        width: 100px;
        border-radius: 25px;
        border: 1px solid lightgrey;
        background: lightgrey;
        color: white;
        cursor: pointer;
        margin-left: 330px;
}

.create_review_submit_button:hover {
    background: rgb(60, 103, 148);
}

.create_review_error {
    color: red;
    font-size: 11pt;
}

.create_review_label_div {
    display: flex;
}










input[type=file] {
    display: none;
}

.create_review_image_div {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 115px;
}

.create_review_image_input {
    height: 75px;
    width: 430px;
    /* border-radius: 4px; */
    margin: 4px 0px;
    padding: 10px 16px;
    /* border: 0.5px solid lightgrey; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.create_review_image_input img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s;
}

.create_review_image_input:hover img {
    transform: scale(1.09);
}


.create_review_imageselect_text {
    z-index: 1;
    color: white;
    height: 40px;
    text-shadow: 1px 1.5px 1px black;
}

#review {
    width: 430px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    border-radius: 4px;
    /* transition: .5s ease-in-out; */
}
