.create_review_modal_button {
        height: 47px;
            width: 200px;
            border-radius: 25px;
            border: 1px solid lightgrey;
            background: rgb(60, 103, 148);
            color: white;
            cursor: pointer;
}

.create_review_modal_button:hover {
    opacity: 0.8;
}

.create_review_main {
    display: flex;
    justify-content: center;
}

.create_review_notlogged_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.create_review_notlogged {
    height: 120px;
    width: 240px;
    padding: 30px;
}

.create_review_notlogged_navlink {
    text-decoration: none;
    color: white;
    border: 1px solid lightgray;
    background: rgb(60, 103, 148);
    width: 130px;
    height: 47px;
    text-align: center;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_review_notlogged_navlink:hover {
    opacity: 0.7;
}

.create_review_owned_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


.create_review_cancel {
    display: flex;
    height: 70px;
}

.create_review_cancel_button {
    border: none;
    background: white;
    width: 50px;
        height: 50px;
    font-size: 25pt;
    padding: 0px;
}

.create_review_cancel_button:hover {
    background: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 45px;
    cursor: pointer;
}


.create_review_form {
    padding: 30px;
    width: 524px;
    height: 490px;
    display: flex;
        flex-direction: column;

}

.create_review_trail_name_header {
    height: 60px;
    font-family: "Roboto-Bold";
    font-size: 20pt;
    word-break: break-all;
        white-space: pre-wrap;
        padding: 0 14px;
}

.create_review_inner {
    padding: 0 14px;
}

.create_review_inner_div {
    height: 45px;
}

.create_review_input_inner {
    width: 430px;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}

.create_review_input_textarea {
    width: 430px;
    resize: none;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    height: 113px;
}

.create_review_inner_div_textarea {
    height: 145px;
}

.create_review_inner_div_image {
    height: 40px;
}

.create_review_input_image {
    width: 430px;
    border: 0.5px solid lightgray;
        border-radius: 5px;
        height: 30px;
}






.create_review_submit {
    display: flex;
    align-items: flex-end;
    height: 70px;
}

.create_review_submit_button {
    height: 47px;
        width: 100px;
        border-radius: 25px;
        border: 1px solid lightgrey;
        background: lightgrey;
        color: white;
        cursor: pointer;
        margin-left: 330px;
}

.create_review_submit_button:hover {
    background: rgb(60, 103, 148);
}

.create_review_error {
    color: red;
    font-size: 11pt;
}