.my_review_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 1100px;
}

.my_review_inner_div {
    width: 1100px;
    min-height: 1100px;
    border-right: 1px solid rgb(205, 201, 200);
     border-left: 1px solid rgb(205, 201, 200);
    border-bottom: 1px solid rgb(205, 201, 200);
}

.my_review_top_text {
    display: flex;
        flex-direction: row;
        padding: 20px;
        margin-right: 680px;
        color: rgb(132, 132, 132);
        font-size: 9.2pt;
}


.my_review_border {
    border-bottom: 1px solid rgb(205, 201, 200);
}

.my_review_header {
    height: 50px;
    border-bottom: 1px solid rgb(205, 201, 200);
    font-size: 16pt;
    display: flex;
    align-items: flex-end;
    padding: 10px 20px 10px 20px;
    background: rgb(243,242,243);
}

.my_revew_box_main {


            border-right: 1px solid rgb(205, 201, 200);
            border-left: 1px solid rgb(205, 201, 200);


}

.my_review_box_main_firstline {
    display: flex;
    padding: 20px;
}

.my_review_box_img_main {
    margin-right: 10px;
}

.my_review_box_img_main {
    width: 40px;
        height: 40px;
}

.my_review_boldname {
    font-family: "Roboto-Bold";
}


.my_review_difficulty_main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my_review_navlink {
    text-decoration: none;
    color: rgb(60, 103, 148);
}

.my_review_navlink:hover {
    text-decoration: underline;
}

.my_review_main_star {
    padding: 0px 20px;
    
}
    .my_review_main_reviewimage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my_review_image_ {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.my_review_main_review {
    padding: 4px 20px;
    word-break: break-all;
        white-space: pre-wrap;
        width: 898px;
}

.my_review_main_buttons {
    padding: 4px 20px;
    display: flex;
    flex-direction: row;
}







.my_review_difficulty_beginner {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    color: green;
    align-items: center;
}

.my_review_difficulty_intermediate {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    color: blue;
    align-items: center;
}

.my_review_difficulty_blackdiamond {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    align-items: center;
}

.my_review_difficulty_doubleblackdiamond {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    align-items: center;
}






.my_review_noneleft_div {
    height: 700px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.my_review_noneleft_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_review_noneleft_img {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 9px 17px 0 rgb(0 0 0 / 20%), 0 0 9px 0 rgb(0 0 0 / 10%);
}


.my_review_noneleft_text {
    font-family: "Roboto-Bold";
    font-size: 30pt;
}


.my_review_noneleft_navlink {
    position: absolute;
    z-index: 11;
    top: 760px;
    text-decoration: none;
    color: gray;
    border-radius: 25px;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 50px;
    box-shadow: 0 9px 17px 0 rgb(0 0 0 / 20%), 0 0 9px 0 rgb(0 0 0 / 10%);
    background: rgb(205, 201, 200);
}

.my_review_noneleft_navlink:hover {
    cursor: pointer;
    color: white;
    background: rgb(60, 103, 148);
}