.sign_up_main {
    display: flex;
    justify-content: center;
}

.sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    z-index: 10;
    width: 400px;
    height: 910px;
    box-shadow: 0 9px 17px 0 rgb(0 0 0 / 20%), 0 0 9px 0 rgb(0 0 0 / 10%);
    top: 130px;
}

.sign_up_image_div {
    position: relative;
    height: 100%;
    background: rgb(60, 103, 148);
}

.sign_up_image {
    position: relative;
    width: 1265px;
    height: 1055px;
}

.sign_up_label_div {
    display: flex;
}

.sign_up_error {
    color: red;
    /* height: 2px;
    margin-bottom: 65px; */
}

.create_free_text {
    font-size: 21pt;
}

.sign_up_bottom_div {
    display: flex;
    flex-direction: row;
}

.log_in_free_text {
    text-decoration: none;
    color: rgb(60, 103, 148);
    font-weight: bold;
}

.sign_up_inputs_div {
    height: 112px;
}

.sign_up_inputs {
    height: 47px;
    width: 370px;
    border-radius: 4px;
    margin: 4px 0px;
    padding: 10px 16px;
    border: 1px solid lightgrey;
}

.sign_up_button_form {
    height: 47px;
    width: 370px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    background: rgb(60, 103, 148);
    color: white;
    cursor: pointer;
}