.homepage_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage_image_div {
    position: relative;
    background: rgb(243, 242, 243);
}

.homepage_image {
    position: relative;
}

.homepage_text {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top: 300px;
    left: 500px; */
    /* color: white;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 10px 7px 5px black; */
}

.homepage_inner_text {
    color: white;
        font-size: 90px;
        font-weight: bold;
        text-shadow: 10px 7px 5px black;
}

.homepage_trail_image {
    width: 296px;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
}

.homepage_trail_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s;
}

.homepage_trail_image:hover img {
    transform: scale(1.1);
}

.homepage_empty_div {
    height: 30px;
    width: 1265px;
    background: rgb(243, 242, 243);

}

.local_favorites_text {
    font-size: 25pt;
    font-family: "Roboto-Bold";
    width: 1265px;
    background: rgb(243, 242, 243);
    padding: 0 12px;
    height: 45px;

}

.homepage_arr_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1265px;
    background: rgb(243,242,243);
}

.homepage_arr_div_inner {
    display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
}


.homepage_trail_firstline {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px 2px 0px;
    word-break: break-all;
        white-space: pre-wrap;
    width: 288px;
}

.homepage_trail_difficulty_beginner {
    display: flex;
    word-break: break-all;
        white-space: pre-wrap;
    font-size: 10pt;
    color: green;
    align-items: center;
}

.homepage_trail_difficulty_intermediate {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    color: blue;
    align-items: center;
}

.homepage_trail_difficulty_blackdiamond {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    align-items: center;
}

.homepage_trail_difficulty_doubleblackdiamond {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    align-items: center;
}

.homepage_trail_review_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homepage_trail_star_div {
    display: flex;
}

.fa-solid.fa-star {
    color: gold;
}

.homepage_trail_avgreview {
    word-break: break-all;
        white-space: pre-wrap;
    font-size: 10pt;
}

.homepage_trail_totalreview {
    word-break: break-all;
        white-space: pre-wrap;
    font-size: 10pt;
}


.homepage_trail_name {
    font-weight: bold;
    padding: 2px 0px 2px 0px;
    word-break: break-all;
        white-space: pre-wrap;
        font-size: 11pt;
}

.homepage_trail_othertext {
    color: rgb(109, 109, 109);
    font-size: 10pt;
    padding: 2px 0px 2px 0px;
    word-break: break-all;
        white-space: pre-wrap;
}




.homepage_modal_button {
    border: none;
    background: none;
    color: rgb(186, 194, 208);
    padding: 0px;
    font-size: 11pt;
}

.homepage_modal_button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.homepage_modal_cancel_button {
    border: none;
        background: white;
        width: 50px;
        height: 50px;
        font-size: 25pt;
        padding: 0px;
        margin-right: 200px;
}

.homepage_modal_cancel_button:hover {
    cursor: pointer;
    background: lightgray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage_modal_notlogged_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.homepage_modal_notlogged {
    height: 120px;
    width: 240px;
    padding: 30px;
}

.homepage_modal_notlogged_navlink {
    text-decoration: none;
    color: white;
    border: 1px solid lightgray;
    background: rgb(60, 103, 148);
    width: 130px;
    height: 47px;
    text-align: center;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage_modal_notlogged_navlink:hover {
    opacity: 0.7;
}





.footer_main {
    background: rgb(60, 103, 148);
    width: 1265px;
    height: 100%;
}


.footer_logo_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1000px;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.footer_logo_text {
    color: white;
    font-size: 18pt;
}

.footer_first_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.footer_first_row_header {
    font-size: 16pt;
    font-family: "Roboto-Bold";
    color: white;
    margin-bottom: 10px;
}

.footer_first_innertext {
    font-size: 11pt;
    color: rgb(186,194,208);
    margin-bottom: 5px;
}

.footer_first_navlink {
    text-decoration: none;
    color: rgb(186, 194, 208);
}

.footer_first_navlink:hover {
    text-decoration: underline;
}

.footer_last_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background: rgb(244, 243, 243);
    color: gray;
}

.footer_last_left {
    display: flex;
        flex-direction: row;
}

.footer_last_navlink {
    text-decoration: none;
    color: gray;
}

.footer_last_navlink:hover {
    text-decoration: underline;
}











.homepage_skills_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1265px;
    height: 310px;
}

.homepage_skills_image_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
}

.homepage_skills_image_div {
    padding: 10px;

}

.homepage_skills_image_div:hover img{
transform: scale(1.05);
}

.homepage_skills_image {
    width: 150px;
    height: 130px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 9px 17px 0 rgb(0 0 0 / 20%), 0 0 9px 0 rgb(0 0 0 / 10%);
}

.homepage_skills_image_div img {
    transition: transform 0.3s;
}


.homepage_second_empty_div {
    height: 30px;
    width: 1265px;
    background: white;

}

.homepage_skills_text {
    font-size: 25pt;
    font-family: "Roboto-Bold";
    width: 1265px;
    background: white;
    padding: 0 12px;
    height: 45px;

}

.homepage_skills_text_div {
    height: 100px;
    width: 500px;
    margin-left: 150px;
}

.homepage_skills_top_text {
    font-size: 25pt;
    font-family: "Roboto-Bold";
    height: 50px;
}

.homepage_skills_bottom_text {
    width: 340px;
    word-break: break-all;
        white-space: pre-wrap;
}