.homepage_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage_image_div {
    position: relative;
}

.homepage_image {
    position: relative;
}

.homepage_text {
    position: absolute;
    z-index: 10;
    /* top: 300px;
    left: 500px; */
    color: white;
    font-size: 100px;
    font-weight: bold;

}

.homepage_trail_image {
    width: 296px;
    height: 180px;
    border-radius: 10px;
}

.homepage_empty_div {
    height: 50px;

}

.local_favorites_text {
    font-size: 40pt;
    margin-right: 900px;

}

.homepage_arr_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1265px;
    background: rgb(243,242,243);
}

.homepage_arr_div_inner {
    display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
}


.homepage_trail_firstline {
    display: flex;
    flex-direction: row;
    padding: 2px 0px 2px 0px;
}

.homepage_trail_name {
    font-weight: bold;
    padding: 2px 0px 2px 0px;
}

.homepage_trail_othertext {
    color: rgb(109, 109, 109);
    font-size: 10pt;
    padding: 2px 0px 2px 0px;
}