.trail_detail_main {
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}

.trail_detail_image_div {
    position: relative;
    width: 1100px;
        height: 350px;
        overflow: hidden;
}

.trail_detail_previewImg {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.trail_detail_top_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1100px;
}

.trail_detail_top_text {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-right: 200px;
    color: rgb(132, 132, 132);
    width: 600px;
    font-size: 9.2pt;
}

.trail_detail_navlink {
    text-decoration: none;
    color: rgb(132, 132, 132);
}

.trail_detail_top_name {
    word-break: break-all;
        white-space: pre-wrap;
}

.trail_detail_navlink:hover {
    text-decoration: underline;
}

.trail_detail_image_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    margin-right: 300px;
    width: 700px;
}

.trail_detail_image_firstline {
    font-family: "Roboto-Bold";
    font-size: 30pt;
    color: white;
    padding: 3px;
    text-shadow: 3px 5px 7px black;
    word-break: break-all;
        white-space: pre-wrap;
}

.trail_detail_image_secondline {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto-Bold";
    padding: 3px;
}


.trail_detail_difficulty_beginner_box {
    display: flex;
    flex-direction: row;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 12pt;
    border: 1px solid green;
    background: green;
    border-radius: 25px;
    width: 125px;
    color: white;
    align-items: center;
    justify-content: center;
}

.trail_detail_difficulty_intermediate_box {
    display: flex;
    flex-direction: row;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 12pt;
    border: 1px solid blue;
    background: blue;
    border-radius: 25px;
    width: 125px;
    color: white;
    align-items: center;
    justify-content: center;
}

.trail_detail_difficulty_blackdiamond_box {
    display: flex;
    flex-direction: row;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 12pt;
    border: 1px solid black;
    background: black;
    border-radius: 25px;
        width: 150px;
        color: white;
    align-items: center;
    justify-content: center;
}

.trail_detail_difficulty_doubleblackdiamond_box {
    display: flex;
        flex-direction: row;
        word-break: break-all;
        white-space: pre-wrap;
        font-size: 12pt;
        border: 1px solid black;
        background: black;
        border-radius: 25px;
        width: 220px;
        color: white;
        align-items: center;
        justify-content: center;
}



.trail_detail_image_reviewinfo {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trail_detail_image_thirdline {
    color: white;
        text-shadow: 2px 3px 2px black;
    padding: 3px;
}

.trail_detail_bluebar {
    position: absolute;
    background: rgb(60, 103, 148);
    height: 50px;
    z-index: 10;
    width: 1100px;
    bottom: 0px;
    color: rgb(60, 103, 148);
}

.trail_detail_circle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    z-index: 11;
    width: 1100px;
    bottom: 10px;
}

.trail_detail_circle_text {
    color: white;
}

.trail_detail_white_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    margin-bottom: 5px;
    box-shadow: 0 9px 17px 0 rgb(0 0 0 / 20%), 0 0 9px 0 rgb(0 0 0 / 10%);
}

.trail_detail_circle_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trail_detail_bottom_box {
    display: flex;
    justify-content: center;
        flex-direction: row;


}

.trail_detail_bottom_second {
    border-right: 0.5px solid lightgray;
    border-left: 0.5px solid lightgray;
    width: 700px;
}

.trail_detail_bottom_inner {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
        border-bottom: 0.5px solid lightgray;
}

.trail_detail_bottom_description {
    padding: 15px;
    word-break: break-all;
        white-space: pre-wrap;
        font-size: 15pt;
}

.trail_detail_bottom_firstline {
    color: rgb(134,134,134);
    font-size: 10pt;
    margin-bottom: 3px;
}

.trail_detail_bottom_secondline {
    font-family: "Roboto-Bold";
}

.trail_detail_bottom_info_divs {
    width: 230px;
    padding: 15px;
}

.trail_detail_bottom_main_review {
    display: flex;
    flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 0.5px solid lightgray;
        height: 250px;
}


.trail_detail_bottom_allreview {
    width: 300px;
    padding: 15px;
    margin-right: 10px;
}

.trail_detail_bottom_avgstar {
    text-align: center;
    font-size: 20pt;
    word-break: break-all;
        white-space: pre-wrap;
}

.trail_detail_bottom_totalreview {
    text-align: center;
    word-break: break-all;
        white-space: pre-wrap;
    margin-top: 2px;
}

.trail_detail_bottom_writereview {
    padding: 15px;
    display: flex;
    align-items: center;
}



.trail_detail_bottom_profileinfo {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    word-break: break-all;
        white-space: pre-wrap;
}

.trail_detail_firstandlastnames {
    word-break: break-all;
        white-space: pre-wrap;
}

.trail_detail_img_div {
    margin-right: 10px;
}

.trail_detail_img_main {
    width: 40px;
    height: 40px;

}

.trail_detail_actual_reviews {
    word-break: break-all;
        white-space: pre-wrap;
}


.trail_detail_review_img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-left: 20px;
}

.trail_detail_bottom_reviewcomponents {
    word-break: break-all;
        white-space: pre-wrap;
    width: 480px;
}

.trail_detail_bottom_reviewinfo {
    display: flex;
    flex-direction: row;
    word-break: break-all;
        white-space: pre-wrap;
}







.trail_detail_difficulty_beginner {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    color: green;
    align-items: center;
}

.trail_detail_difficulty_intermediate {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    color: blue;
    align-items: center;
}

.trail_detail_difficulty_blackdiamond {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    align-items: center;
}

.trail_detail_difficulty_doubleblackdiamond {
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    align-items: center;
}








.trail_detail_sidebar {
    width: 400px;

    border-right: 0.5px solid lightgray;
}

.trail_detail_sidebar_inner_div {
    display: flex;
}

.trail_detail_sidebar_image_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.trail_detail_near_div {
    height: 100%;
}

.trail_detail_sidebar_inner {
    padding: 15px;
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}

.trail_detail_near_text {
    text-align: center;
    font-family: "Roboto-Bold";
    padding: 15px;
}

.trail_detail_sidebar_image {
    width: 296px;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.trail_detail_sidebar_image img {
    width: 100%;
        height: 100%;
        display: block;
        transition: transform 0.5s;
}

.trail_detail_sidebar_image:hover img {
    transform: scale(1.05);
}

.trail_detail_sidebar_image_info {
    display: flex;
    flex-direction: column; 
    width: 296px;
}

.trail_detail_sidebar_firstline {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px 2px 0px;
}

.trail_detail_sidebar_review_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trail_detail_sidebar_name {
    font-weight: bold;
    padding: 2px 0px 2px 0px;
    word-break: break-all;
        white-space: pre-wrap;
}

.trail_detail_sidebar_othertext {
    color: rgb(109, 109, 109);
    font-size: 10pt;
    padding: 2px 0px 2px 0px;
}

