.photo_modal_button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.photo_modal_button:hover {
    opacity: 0.7;
}

.photo_modal_cancel_div {
    padding: 25px;
}

.photo_modal_cancel_button {
    border: none;
        background: white;
        width: 50px;
        height: 50px;
        font-size: 25pt;
        padding: 0px;
}

.photo_modal_cancel_button:hover {
    cursor: pointer;
    background: lightgray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo_modal_text {
    padding: 20px;
    font-family: "Roboto-Bold";
    text-align: center;
    font-size: 20pt;
}


.photo_modal_main {
    width: 1100px;
    height: 560px;
    display: flex;
        flex-wrap: wrap;
            flex-direction: row;
    justify-content: center;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 5px;
    margin-bottom: 25px;
}

.photo_modal_notmain {
    width: 700px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_modal_inner {
    padding: 5px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.photo_modal_inner_div {
    display: flex;
    flex-direction: column;
}

.photo_modal_image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.photo_modal_text_lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.photo_modal_text_fonts {
    font-family: "Roboto-Medium";
    word-break: break-all;
        white-space: pre-wrap;
}