.profile_button_main {
    display: flex;
    justify-content: flex-end;
    width: 310px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: relative;

}

.profile_img_main {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;

}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 260px;
    position: absolute;
    right: 0px;
    top: 45px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    z-index: 19;
    background: white;
}

.profile_dropdown_navlink {
    text-decoration: none;
    height: 42px;
    width: 100%;
    color: rgb(62, 62, 62);
    display: flex;
    align-items: center;
    cursor: pointer;
}


.profile_dropdown_box {
    display: flex;
    width: 198px;
    height: 42px;
    align-items: center;
    padding: 0px 16px;
    background: white;
    color: rgb(62,62,62);
    z-index: 12;
}

.profile_dropdown_box:hover {
    background: rgb(243,242,243);
    z-index: 12;
}

.log_out_button {
    display: flex;
    width: 198px;
    height: 42px;
    justify-content: flex-start;
    align-items: center;
    border: none;
    background: white;
    cursor: pointer;
    padding: 0px 16px;
    font-size: 12pt;
    color: rgb(62, 62, 62);
}

.log_out_button:hover {
    background: rgb(243, 242, 243);
}

